# Testing new parameters on 1,000 maps through TI9

Testing different logistic scale and time scale (for covariance function) parameter values using AUC and likelihood.

## Inputs

### Input files

In [1]:
MATCHES_DF = 'data/raw/premium_matches.2019-08-31.json.gz'

In [23]:
from collections import OrderedDict
files = OrderedDict()
for ls in [0.5, 1, 2, 3, 4.5, 6, 8]:
    files['ls = ' + str(ls)] = (
        ls,  # Logistic scale
        f'fitted/ti9_full_new_params_by_series.ls-{ls}.win_probs.gz',
        f'fitted/ti9_full_new_params_by_series.ls-{ls}.player_skills'
            '.gz'
    )
for ls in [2, 2.333, 2.667, 3, 3.333, 3.667, 4, 4.333, 4.667]:
    files['ls = ' + str(ls) + ' (new)'] = (
        ls,  # Logistic scale
        f'fitted/ti9_1000_maps_by_series.ls-{ls}.win_probs.gz',
        f'fitted/ti9_1000_maps_by_series.ls-{ls}.player_skills'
            '.gz'
    )
for ts in [0.5, 0.75, 1, 1.25, 1.5, 2, 3]:
    files['ts = ' + str(ts)] = (
        3.0,  # Logistic scale
        f'fitted/ti9_full_new_params_by_series.ts-{ts}.win_probs.gz',
        f'fitted/ti9_full_new_params_by_series.ts-{ts}.player_skills.gz'
    )
for ts in [1.25, 1.5, 1.75, 2, 2.25, 2.5, 2.75, 3, 3.25]:
    files['ts = ' + str(ts) + ' (new)'] = (
        3.0,  # Logistic scale
        f'fitted/ti9_1000_maps_by_series.ts-{ts}.win_probs.gz',
        f'fitted/ti9_1000_maps_by_series.ts-{ts}.player_skills.gz'
    )
files

OrderedDict([('ls = 0.5',
              (0.5,
               'fitted/ti9_full_new_params_by_series.ls-0.5.win_probs.gz',
               'fitted/ti9_full_new_params_by_series.ls-0.5.player_skills.gz')),
             ('ls = 1',
              (1,
               'fitted/ti9_full_new_params_by_series.ls-1.win_probs.gz',
               'fitted/ti9_full_new_params_by_series.ls-1.player_skills.gz')),
             ('ls = 2',
              (2,
               'fitted/ti9_full_new_params_by_series.ls-2.win_probs.gz',
               'fitted/ti9_full_new_params_by_series.ls-2.player_skills.gz')),
             ('ls = 3',
              (3,
               'fitted/ti9_full_new_params_by_series.ls-3.win_probs.gz',
               'fitted/ti9_full_new_params_by_series.ls-3.player_skills.gz')),
             ('ls = 4.5',
              (4.5,
               'fitted/ti9_full_new_params_by_series.ls-4.5.win_probs.gz',
               'fitted/ti9_full_new_params_by_series.ls-4.5.player_skills.gz')),
             ('ls = 6',
              (6,
               'fitted/ti9_full_new_params_by_series.ls-6.win_probs.gz',
               'fitted/ti9_full_new_params_by_series.ls-6.player_skills.gz')),
             ('ls = 8',
              (8,
               'fitted/ti9_full_new_params_by_series.ls-8.win_probs.gz',
               'fitted/ti9_full_new_params_by_series.ls-8.player_skills.gz')),
             ('ls = 2 (new)',
              (2,
               'fitted/ti9_1000_maps_by_series.ls-2.win_probs.gz',
               'fitted/ti9_1000_maps_by_series.ls-2.player_skills.gz')),
             ('ls = 2.333 (new)',
              (2.333,
               'fitted/ti9_1000_maps_by_series.ls-2.333.win_probs.gz',
               'fitted/ti9_1000_maps_by_series.ls-2.333.player_skills.gz')),
             ('ls = 2.667 (new)',
              (2.667,
               'fitted/ti9_1000_maps_by_series.ls-2.667.win_probs.gz',
               'fitted/ti9_1000_maps_by_series.ls-2.667.player_skills.gz')),
             ('ls = 3 (new)',
              (3,
               'fitted/ti9_1000_maps_by_series.ls-3.win_probs.gz',
               'fitted/ti9_1000_maps_by_series.ls-3.player_skills.gz')),
             ('ls = 3.333 (new)',
              (3.333,
               'fitted/ti9_1000_maps_by_series.ls-3.333.win_probs.gz',
               'fitted/ti9_1000_maps_by_series.ls-3.333.player_skills.gz')),
             ('ls = 3.667 (new)',
              (3.667,
               'fitted/ti9_1000_maps_by_series.ls-3.667.win_probs.gz',
               'fitted/ti9_1000_maps_by_series.ls-3.667.player_skills.gz')),
             ('ls = 4 (new)',
              (4,
               'fitted/ti9_1000_maps_by_series.ls-4.win_probs.gz',
               'fitted/ti9_1000_maps_by_series.ls-4.player_skills.gz')),
             ('ls = 4.333 (new)',
              (4.333,
               'fitted/ti9_1000_maps_by_series.ls-4.333.win_probs.gz',
               'fitted/ti9_1000_maps_by_series.ls-4.333.player_skills.gz')),
             ('ls = 4.667 (new)',
              (4.667,
               'fitted/ti9_1000_maps_by_series.ls-4.667.win_probs.gz',
               'fitted/ti9_1000_maps_by_series.ls-4.667.player_skills.gz')),
             ('ts = 0.5',
              (3.0,
               'fitted/ti9_full_new_params_by_series.ts-0.5.win_probs.gz',
               'fitted/ti9_full_new_params_by_series.ts-0.5.player_skills.gz')),
             ('ts = 0.75',
              (3.0,
               'fitted/ti9_full_new_params_by_series.ts-0.75.win_probs.gz',
               'fitted/ti9_full_new_params_by_series.ts-0.75.player_skills.gz')),
             ('ts = 1',
              (3.0,
               'fitted/ti9_full_new_params_by_series.ts-1.win_probs.gz',
               'fitted/ti9_full_new_params_by_series.ts-1.player_skills.gz')),
             ('ts = 1.25',
              (3.0,
               'fitted/ti9_full_new_params_by_series.ts-1.25.win_probs.gz',
               'fitted/ti9_full_new_params_by_series.ts-1.25.player_skills.gz')),
             ('ts = 1.5',
              (3.0,
               'fitted/ti9_full_new_params_by_series.ts-1.5.win_probs.gz',
               'fitted/ti9_full_new_params_by_series.ts-1.5.player_skills.gz')),
             ('ts = 2',
              (3.0,
               'fitted/ti9_full_new_params_by_series.ts-2.win_probs.gz',
               'fitted/ti9_full_new_params_by_series.ts-2.player_skills.gz')),
             ('ts = 3',
              (3.0,
               'fitted/ti9_full_new_params_by_series.ts-3.win_probs.gz',
               'fitted/ti9_full_new_params_by_series.ts-3.player_skills.gz')),
             ('ts = 1.25 (new)',
              (3.0,
               'fitted/ti9_1000_maps_by_series.ts-1.25.win_probs.gz',
               'fitted/ti9_1000_maps_by_series.ts-1.25.player_skills.gz')),
             ('ts = 1.5 (new)',
              (3.0,
               'fitted/ti9_1000_maps_by_series.ts-1.5.win_probs.gz',
               'fitted/ti9_1000_maps_by_series.ts-1.5.player_skills.gz')),
             ('ts = 1.75 (new)',
              (3.0,
               'fitted/ti9_1000_maps_by_series.ts-1.75.win_probs.gz',
               'fitted/ti9_1000_maps_by_series.ts-1.75.player_skills.gz')),
             ('ts = 2 (new)',
              (3.0,
               'fitted/ti9_1000_maps_by_series.ts-2.win_probs.gz',
               'fitted/ti9_1000_maps_by_series.ts-2.player_skills.gz')),
             ('ts = 2.25 (new)',
              (3.0,
               'fitted/ti9_1000_maps_by_series.ts-2.25.win_probs.gz',
               'fitted/ti9_1000_maps_by_series.ts-2.25.player_skills.gz')),
             ('ts = 2.5 (new)',
              (3.0,
               'fitted/ti9_1000_maps_by_series.ts-2.5.win_probs.gz',
               'fitted/ti9_1000_maps_by_series.ts-2.5.player_skills.gz')),
             ('ts = 2.75 (new)',
              (3.0,
               'fitted/ti9_1000_maps_by_series.ts-2.75.win_probs.gz',
               'fitted/ti9_1000_maps_by_series.ts-2.75.player_skills.gz')),
             ('ts = 3 (new)',
              (3.0,
               'fitted/ti9_1000_maps_by_series.ts-3.win_probs.gz',
               'fitted/ti9_1000_maps_by_series.ts-3.player_skills.gz')),
             ('ts = 3.25 (new)',
              (3.0,
               'fitted/ti9_1000_maps_by_series.ts-3.25.win_probs.gz',
               'fitted/ti9_1000_maps_by_series.ts-3.25.player_skills.gz'))])

### Parameters

In [3]:
# Scaling factor for logistic regression win probability.
# LOGISTIC_SCALE = 3.0

# Maximum difference in minutes between the Fairlay closing datetime and the
# Datdota map start datetime.
MAX_TIMEDIFF_MINS = 1440

## Setup.

### Load libraries.

In [4]:
import os
while 'src' not in os.listdir():
    os.chdir("..")

In [5]:
import gzip
import json
import pickle

import numpy as np
import pandas as pd
import scipy

import src.fairlay
import src.load
import src.statics
import src.stats

### Load data.

#### Matches and predictions

In [24]:
with gzip.open(MATCHES_DF, 'rb') as fh:
    matches = src.load.MatchDF.from_json(json.load(fh)['data'])

In [25]:
match_pred_objs = OrderedDict()
for label, val in files.items():
    logistic_scale, pred_file, skills_file = val
    pred_df = pd.read_csv(pred_file, header=0, sep='\t', index_col=0)
    skills_mat = pd.read_csv(skills_file, header=0, sep='\t', index_col=0)
    skills_mat.columns = skills_mat.columns.astype(int)
    match_pred_objs[label] = \
        src.stats.MatchPred(matches, pred_df, logistic_scale, skills_mat)

## AUCs

In [26]:
aucs = []
for label, match_pred in match_pred_objs.items():
    auc = match_pred._roc_auc(
        False,
        match_pred.df.iter > 0)
    aucs.append(auc)

#     print("--------")
#     print(label)
#     print("TI9 group stage AUC: {:.3f}".format(ti9_group_stage_auc))
#     print("TI9 playoffs AUC: {:.3f}".format(ti9_playoffs_auc))

pd.Series(aucs, index=match_pred_objs.keys())

ls = 0.5            0.645280
ls = 1              0.658237
ls = 2              0.667028
ls = 3              0.669351
ls = 4.5            0.667513
ls = 6              0.663592
ls = 8              0.658513
ls = 2 (new)        0.666624
ls = 2.333 (new)    0.668318
ls = 2.667 (new)    0.669051
ls = 3 (new)        0.669452
ls = 3.333 (new)    0.669624
ls = 3.667 (new)    0.669043
ls = 4 (new)        0.668070
ls = 4.333 (new)    0.668002
ls = 4.667 (new)    0.667109
ts = 0.5            0.663824
ts = 0.75           0.666740
ts = 1              0.668550
ts = 1.25           0.669351
ts = 1.5            0.670185
ts = 2              0.670513
ts = 3              0.669688
ts = 1.25 (new)     0.669452
ts = 1.5 (new)      0.670405
ts = 1.75 (new)     0.670497
ts = 2 (new)        0.670769
ts = 2.25 (new)     0.670549
ts = 2.5 (new)      0.669932
ts = 2.75 (new)     0.669988
ts = 3 (new)        0.669728
ts = 3.25 (new)     0.669720
dtype: float64

## Likelihoods

In [27]:
logliks = []
for label, match_pred in match_pred_objs.items():
    loglik = sum(match_pred.match_loglik(False)[match_pred.df.iter > 0])
    logliks.append(loglik)
pd.Series(logliks, index=match_pred_objs.keys())

ls = 0.5           -743.879784
ls = 1             -681.845221
ls = 2             -653.947995
ls = 3             -649.853927
ls = 4.5           -651.762285
ls = 6             -656.031617
ls = 8             -662.020677
ls = 2 (new)       -654.219769
ls = 2.333 (new)   -651.385326
ls = 2.667 (new)   -650.085988
ls = 3 (new)       -649.813906
ls = 3.333 (new)   -649.713103
ls = 3.667 (new)   -649.940528
ls = 4 (new)       -650.648446
ls = 4.333 (new)   -651.315518
ls = 4.667 (new)   -652.217778
ts = 0.5           -652.936902
ts = 0.75          -651.012802
ts = 1             -650.182926
ts = 1.25          -649.853927
ts = 1.5           -649.547137
ts = 2             -649.294076
ts = 3             -649.336656
ts = 1.25 (new)    -649.813906
ts = 1.5 (new)     -649.431415
ts = 1.75 (new)    -649.479222
ts = 2 (new)       -649.115407
ts = 2.25 (new)    -649.257168
ts = 2.5 (new)     -649.273786
ts = 2.75 (new)    -649.283096
ts = 3 (new)       -649.283710
ts = 3.25 (new)    -649.376761
dtype: float64

## Bias tables

### Varying logistic scale

In [28]:
for label, match_pred in match_pred_objs.items():
    if not label.startswith('ls'):
        continue
    print(label)
    cur_loc = match_pred.df.iter > 0
    display(match_pred.match_pred_df_bias(loc=cur_loc,
                                          assume_side_known=True))

ls = 0.5

                   n   obs     exp   poibin_pval     pois_pval
(-0.001, 0.1]   71.0  22.0   3.831  1.209255e-12  5.191492e-11
(0.1, 0.2]      68.0  24.0   9.946  1.003116e-05  8.633888e-05
(0.2, 0.3]      80.0  30.0  19.586  6.393453e-03  2.072855e-02
(0.3, 0.4]      95.0  37.0  33.310  3.656380e-01  4.593960e-01
(0.4, 0.5]     136.0  70.0  62.336  1.597572e-01  3.014518e-01
(0.5, 0.6]     149.0  81.0  81.873  9.488010e-01  9.817967e-01
(0.6, 0.7]     124.0  66.0  80.423  9.854754e-03  1.137026e-01
(0.7, 0.8]      99.0  64.0  74.418  2.481747e-02  2.473113e-01
(0.8, 0.9]      90.0  59.0  76.321  9.145790e-06  4.729596e-02
(0.9, 1.0]      88.0  65.0  83.671  2.522214e-11  4.067581e-02

ls = 1

                   n   obs      exp  poibin_pval  pois_pval
(-0.001, 0.1]   23.0   9.0    1.545     0.000002   0.000011
(0.1, 0.2]      63.0  15.0    9.510     0.044650   0.067454
(0.2, 0.3]      86.0  29.0   21.885     0.064875   0.114392
(0.3, 0.4]     111.0  48.0   38.956     0.059974   0.134100
(0.4, 0.5]     151.0  69.0   67.603     0.753942   0.802662
(0.5, 0.6]     183.0  93.0  100.512     0.296886   0.489605
(0.6, 0.7]     144.0  90.0   93.494     0.596220   0.768761
(0.7, 0.8]     122.0  80.0   91.069     0.031570   0.266043
(0.8, 0.9]      76.0  51.0   64.672     0.000127   0.093474
(0.9, 1.0]      41.0  34.0   38.767     0.011600   0.502123

ls = 2

                   n    obs      exp  poibin_pval  pois_pval
(-0.001, 0.1]    2.0    1.0    0.121     0.007253   0.013405
(0.1, 0.2]      29.0    7.0    4.624     0.156797   0.194354
(0.2, 0.3]      63.0   21.0   16.014     0.118376   0.179652
(0.3, 0.4]     144.0   50.0   50.711     0.977469   0.995098
(0.4, 0.5]     201.0   90.0   90.510     0.999297   0.986868
(0.5, 0.6]     207.0  109.0  114.622     0.472470   0.640985
(0.6, 0.7]     173.0  109.0  111.903     0.696979   0.831971
(0.7, 0.8]     115.0   77.0   85.135     0.108918   0.411121
(0.8, 0.9]      54.0   44.0   45.633     0.643866   0.885820
(0.9, 1.0]      12.0   10.0   11.153     0.411205   0.883537

ls = 3

                   n    obs      exp   poibin_pval  pois_pval
(-0.001, 0.1]    0.0    0.0    0.000 -4.440892e-16   0.000000
(0.1, 0.2]      12.0    4.0    2.034  7.675380e-02   0.111574
(0.2, 0.3]      56.0   13.0   14.911  6.836091e-01   0.743547
(0.3, 0.4]     116.0   38.0   41.544  5.590078e-01   0.651333
(0.4, 0.5]     247.0  110.0  111.140  9.363720e-01   0.964176
(0.5, 0.6]     229.0  121.0  126.555  5.002092e-01   0.661772
(0.6, 0.7]     205.0  129.0  132.085  7.011460e-01   0.832779
(0.7, 0.8]     100.0   74.0   74.064  9.350207e-01   0.944174
(0.8, 0.9]      32.0   26.0   26.854  8.231532e-01   0.971240
(0.9, 1.0]       3.0    3.0    2.788 -1.776357e-15   0.610606

ls = 4.5

                   n    obs      exp   poibin_pval  pois_pval
(-0.001, 0.1]    0.0    0.0    0.000 -4.440892e-16   0.000000
(0.1, 0.2]       1.0    0.0    0.179  3.586721e-01   0.328350
(0.2, 0.3]      29.0    9.0    7.599  4.141781e-01   0.470033
(0.3, 0.4]     103.0   29.0   37.000  1.190234e-01   0.211293
(0.4, 0.5]     274.0  110.0  125.036  7.661224e-02   0.189774
(0.5, 0.6]     285.0  157.0  157.105  9.640720e-01   0.964287
(0.6, 0.7]     230.0  152.0  148.026  5.399893e-01   0.704284
(0.7, 0.8]      63.0   49.0   46.487  3.904353e-01   0.644395
(0.8, 0.9]      14.0   11.0   11.526  9.225326e-01   0.966606
(0.9, 1.0]       1.0    1.0    0.923 -8.881784e-16   0.471666

ls = 6

                   n    obs      exp   poibin_pval  pois_pval
(-0.001, 0.1]    0.0    0.0    0.000 -4.440892e-16   0.000000
(0.1, 0.2]       0.0    0.0    0.000 -4.440892e-16   0.000000
(0.2, 0.3]      14.0    4.0    3.856  6.726688e-01   0.686188
(0.3, 0.4]      70.0   18.0   25.121  9.332156e-02   0.176570
(0.4, 0.5]     278.0  112.0  127.169  7.612443e-02   0.189512
(0.5, 0.6]     363.0  194.0  198.992  6.342593e-01   0.758261
(0.6, 0.7]     232.0  155.0  148.280  3.228666e-01   0.547287
(0.7, 0.8]      39.0   31.0   28.880  3.386651e-01   0.609303
(0.8, 0.9]       4.0    4.0    3.316 -2.220446e-15   0.480489
(0.9, 1.0]       0.0    0.0    0.000 -4.440892e-16   0.000000

ls = 8

                   n    obs      exp   poibin_pval  pois_pval
(-0.001, 0.1]    0.0    0.0    0.000 -4.440892e-16   0.000000
(0.1, 0.2]       0.0    0.0    0.000 -4.440892e-16   0.000000
(0.2, 0.3]       2.0    0.0    0.583  9.964083e-01   0.883836
(0.3, 0.4]      47.0   13.0   16.968  2.907682e-01   0.406022
(0.4, 0.5]     254.0  100.0  117.357  3.296672e-02   0.114119
(0.5, 0.6]     479.0  251.0  262.497  3.119301e-01   0.500811
(0.6, 0.7]     193.0  134.0  121.901  5.714349e-02   0.255497
(0.7, 0.8]      24.0   19.0   17.400  3.375280e-01   0.593866
(0.8, 0.9]       1.0    1.0    0.833 -8.881784e-16   0.406465
(0.9, 1.0]       0.0    0.0    0.000 -4.440892e-16   0.000000

ls = 2 (new)

                   n    obs      exp  poibin_pval  pois_pval
(-0.001, 0.1]    2.0    1.0    0.121     0.007253   0.013405
(0.1, 0.2]      29.0    7.0    4.624     0.156795   0.194352
(0.2, 0.3]      63.0   21.0   16.014     0.118393   0.179672
(0.3, 0.4]     145.0   51.0   51.104     0.938353   0.937344
(0.4, 0.5]     200.0   89.0   90.067     0.937514   0.966306
(0.5, 0.6]     203.0  107.0  112.242     0.501687   0.663582
(0.6, 0.7]     177.0  111.0  114.353     0.648984   0.800847
(0.7, 0.8]     115.0   77.0   85.113     0.109968   0.412448
(0.8, 0.9]      54.0   44.0   45.633     0.643973   0.885865
(0.9, 1.0]      12.0   10.0   11.153     0.411206   0.883538

ls = 2.333 (new)

                   n    obs      exp   poibin_pval  pois_pval
(-0.001, 0.1]    2.0    1.0    0.155  1.202149e-02   0.021740
(0.1, 0.2]      21.0    7.0    3.529  3.244925e-02   0.055754
(0.2, 0.3]      63.0   18.0   16.247  5.071721e-01   0.556886
(0.3, 0.4]     128.0   40.0   45.430  3.626054e-01   0.471486
(0.4, 0.5]     225.0  104.0  101.038  6.408998e-01   0.719604
(0.5, 0.6]     211.0  112.0  116.934  5.375141e-01   0.691282
(0.6, 0.7]     190.0  117.0  122.918  4.086153e-01   0.633256
(0.7, 0.8]     108.0   76.0   80.203  4.106595e-01   0.690658
(0.8, 0.9]      46.0   37.0   38.968  5.267456e-01   0.833925
(0.9, 1.0]       6.0    6.0    5.627 -3.108624e-15   0.668151

ls = 2.667 (new)

                   n    obs      exp   poibin_pval  pois_pval
(-0.001, 0.1]    1.0    0.0    0.090  1.806666e-01   0.172747
(0.1, 0.2]      16.0    6.0    2.746  2.331207e-02   0.044582
(0.2, 0.3]      65.0   17.0   17.211  9.178379e-01   0.912604
(0.3, 0.4]     121.0   40.0   43.727  5.446213e-01   0.639310
(0.4, 0.5]     236.0  107.0  106.499  8.940326e-01   0.910034
(0.5, 0.6]     222.0  118.0  123.350  5.108533e-01   0.671250
(0.6, 0.7]     191.0  120.0  123.479  6.473351e-01   0.799397
(0.7, 0.8]     105.0   75.0   77.841  5.923000e-01   0.804391
(0.8, 0.9]      37.0   29.0   31.079  4.621738e-01   0.798346
(0.9, 1.0]       6.0    6.0    5.544 -3.108624e-15   0.641792

ls = 3 (new)

                   n    obs      exp   poibin_pval  pois_pval
(-0.001, 0.1]    0.0    0.0    0.000 -4.440892e-16   0.000000
(0.1, 0.2]      12.0    4.0    2.034  7.680352e-02   0.111639
(0.2, 0.3]      56.0   13.0   14.910  6.838540e-01   0.743763
(0.3, 0.4]     116.0   38.0   41.544  5.589094e-01   0.651250
(0.4, 0.5]     247.0  110.0  111.154  9.349183e-01   0.963098
(0.5, 0.6]     229.0  121.0  126.554  5.002717e-01   0.661823
(0.6, 0.7]     205.0  129.0  132.095  7.001212e-01   0.832139
(0.7, 0.8]     100.0   74.0   74.060  9.344343e-01   0.943875
(0.8, 0.9]      32.0   26.0   26.855  8.226130e-01   0.971024
(0.9, 1.0]       3.0    3.0    2.788 -1.776357e-15   0.610606

ls = 3.333 (new)

                   n    obs      exp   poibin_pval  pois_pval
(-0.001, 0.1]    0.0    0.0    0.000 -4.440892e-16   0.000000
(0.1, 0.2]       8.0    3.0    1.377  6.772639e-02   0.102432
(0.2, 0.3]      45.0   11.0   11.847  9.274308e-01   0.958355
(0.3, 0.4]     118.0   37.0   41.951  3.923357e-01   0.500520
(0.4, 0.5]     261.0  115.0  118.028  7.542205e-01   0.827304
(0.5, 0.6]     235.0  123.0  130.098  3.855740e-01   0.569575
(0.6, 0.7]     210.0  133.0  135.253  7.952780e-01   0.891278
(0.7, 0.8]      96.0   74.0   71.050  4.249859e-01   0.670373
(0.8, 0.9]      24.0   19.0   20.062  7.145793e-01   0.929521
(0.9, 1.0]       3.0    3.0    2.756 -1.776357e-15   0.596683

ls = 3.667 (new)

                   n    obs      exp   poibin_pval  pois_pval
(-0.001, 0.1]    0.0    0.0    0.000 -4.440892e-16   0.000000
(0.1, 0.2]       5.0    1.0    0.866  4.176114e-01   0.430332
(0.2, 0.3]      37.0   12.0    9.583  2.741122e-01   0.341319
(0.3, 0.4]     118.0   33.0   41.967  9.893804e-02   0.184051
(0.4, 0.5]     268.0  115.0  121.661  4.495131e-01   0.583579
(0.5, 0.6]     239.0  128.0  132.015  6.457589e-01   0.769709
(0.6, 0.7]     221.0  142.0  141.888  9.367228e-01   0.947922
(0.7, 0.8]      91.0   70.0   67.221  4.374277e-01   0.676711
(0.8, 0.9]      20.0   16.0   16.797  8.033664e-01   0.974723
(0.9, 1.0]       1.0    1.0    0.941 -8.881784e-16   0.485368

ls = 4 (new)

                   n    obs      exp   poibin_pval  pois_pval
(-0.001, 0.1]    0.0    0.0    0.000 -4.440892e-16   0.000000
(0.1, 0.2]       4.0    1.0    0.724  3.043306e-01   0.328374
(0.2, 0.3]      29.0    9.0    7.447  3.772252e-01   0.435146
(0.3, 0.4]     116.0   33.0   41.223  1.297232e-01   0.223691
(0.4, 0.5]     266.0  109.0  120.787  1.632498e-01   0.303844
(0.5, 0.6]     262.0  143.0  144.330  9.161603e-01   0.955953
(0.6, 0.7]     229.0  151.0  147.413  5.752019e-01   0.727263
(0.7, 0.8]      76.0   58.0   56.213  5.585960e-01   0.745080
(0.8, 0.9]      17.0   13.0   14.191  6.103194e-01   0.888599
(0.9, 1.0]       1.0    1.0    0.934 -8.881784e-16   0.480076

ls = 4.333 (new)

                   n    obs      exp   poibin_pval  pois_pval
(-0.001, 0.1]    0.0    0.0    0.000 -4.440892e-16   0.000000
(0.1, 0.2]       2.0    1.0    0.369  6.790593e-02   0.107113
(0.2, 0.3]      30.0    8.0    7.849  7.635081e-01   0.772882
(0.3, 0.4]     106.0   31.0   38.066  1.801280e-01   0.284947
(0.4, 0.5]     270.0  109.0  122.878  1.007276e-01   0.224569
(0.5, 0.6]     282.0  154.0  155.493  9.036175e-01   0.947111
(0.6, 0.7]     228.0  151.0  146.996  5.351896e-01   0.701515
(0.7, 0.8]      64.0   50.0   47.168  3.445218e-01   0.614520
(0.8, 0.9]      17.0   13.0   14.008  6.998869e-01   0.927121
(0.9, 1.0]       1.0    1.0    0.927 -8.881784e-16   0.474532

ls = 4.667 (new)

                   n    obs      exp   poibin_pval  pois_pval
(-0.001, 0.1]    0.0    0.0    0.000 -4.440892e-16   0.000000
(0.1, 0.2]       1.0    0.0    0.187  3.741849e-01   0.341266
(0.2, 0.3]      24.0    9.0    6.234  1.367197e-01   0.201903
(0.3, 0.4]     106.0   28.0   38.146  4.668796e-02   0.107974
(0.4, 0.5]     271.0  110.0  123.861  1.019628e-01   0.227107
(0.5, 0.6]     293.0  160.0  161.308  9.227562e-01   0.959711
(0.6, 0.7]     230.0  151.0  147.846  6.180509e-01   0.754327
(0.7, 0.8]      62.0   50.0   45.717  1.589942e-01   0.471637
(0.8, 0.9]      12.0    9.0    9.859  7.289598e-01   0.951337
(0.9, 1.0]       1.0    1.0    0.919 -8.881784e-16   0.468750

### Varying time scale

In [29]:
for label, match_pred in match_pred_objs.items():
    if not label.startswith('ts'):
        continue
    print(label)
    cur_loc = match_pred.df.iter > 0
    display(match_pred.match_pred_df_bias(loc=cur_loc,
                                          assume_side_known=True))

ts = 0.5

                   n    obs      exp   poibin_pval  pois_pval
(-0.001, 0.1]    0.0    0.0    0.000 -4.440892e-16   0.000000
(0.1, 0.2]       6.0    3.0    1.027  1.885077e-02   0.041361
(0.2, 0.3]      40.0    9.0   10.223  8.150828e-01   0.860826
(0.3, 0.4]     115.0   31.0   40.992  6.025768e-02   0.128800
(0.4, 0.5]     253.0  116.0  115.160  8.640514e-01   0.888545
(0.5, 0.6]     281.0  152.0  155.283  7.366987e-01   0.833215
(0.6, 0.7]     198.0  124.0  128.008  5.978537e-01   0.766726
(0.7, 0.8]      82.0   65.0   61.050  2.559868e-01   0.559241
(0.8, 0.9]      24.0   17.0   20.128  1.572899e-01   0.574821
(0.9, 1.0]       1.0    1.0    0.946 -8.881784e-16   0.488533

ts = 0.75

                   n    obs      exp   poibin_pval  pois_pval
(-0.001, 0.1]    0.0    0.0    0.000 -4.440892e-16   0.000000
(0.1, 0.2]      10.0    3.0    1.746  1.600900e-01   0.200528
(0.2, 0.3]      43.0   11.0   11.196  8.939276e-01   0.888146
(0.3, 0.4]     121.0   35.0   43.098  1.452255e-01   0.242862
(0.4, 0.5]     246.0  112.0  111.387  8.849103e-01   0.903609
(0.5, 0.6]     266.0  139.0  147.221  3.399973e-01   0.529925
(0.6, 0.7]     198.0  129.0  128.437  8.797072e-01   0.913692
(0.7, 0.8]      90.0   70.0   67.172  4.230375e-01   0.672335
(0.8, 0.9]      23.0   16.0   19.309  1.255237e-01   0.537442
(0.9, 1.0]       3.0    3.0    2.766 -1.776357e-15   0.601173

ts = 1

                   n    obs      exp   poibin_pval  pois_pval
(-0.001, 0.1]    0.0    0.0    0.000 -4.440892e-16   0.000000
(0.1, 0.2]      10.0    3.0    1.689  1.440927e-01   0.182971
(0.2, 0.3]      45.0   11.0   11.592  9.970163e-01   0.982134
(0.3, 0.4]     129.0   42.0   45.847  5.410388e-01   0.634461
(0.4, 0.5]     242.0  108.0  109.342  9.149730e-01   0.948490
(0.5, 0.6]     251.0  132.0  139.108  4.001351e-01   0.581930
(0.6, 0.7]     192.0  123.0  124.128  9.185980e-01   0.966962
(0.7, 0.8]      97.0   71.0   71.711  9.463877e-01   0.995844
(0.8, 0.9]      31.0   25.0   25.898  8.063091e-01   0.963797
(0.9, 1.0]       3.0    3.0    2.779 -1.776357e-15   0.606958

ts = 1.25

                   n    obs      exp   poibin_pval  pois_pval
(-0.001, 0.1]    0.0    0.0    0.000 -4.440892e-16   0.000000
(0.1, 0.2]      12.0    4.0    2.034  7.675380e-02   0.111574
(0.2, 0.3]      56.0   13.0   14.911  6.836091e-01   0.743547
(0.3, 0.4]     116.0   38.0   41.544  5.590078e-01   0.651333
(0.4, 0.5]     247.0  110.0  111.140  9.363720e-01   0.964176
(0.5, 0.6]     229.0  121.0  126.555  5.002092e-01   0.661772
(0.6, 0.7]     205.0  129.0  132.085  7.011460e-01   0.832779
(0.7, 0.8]     100.0   74.0   74.064  9.350207e-01   0.944174
(0.8, 0.9]      32.0   26.0   26.854  8.231532e-01   0.971240
(0.9, 1.0]       3.0    3.0    2.788 -1.776357e-15   0.610606

ts = 1.5

                   n    obs      exp   poibin_pval  pois_pval
(-0.001, 0.1]    0.0    0.0    0.000 -4.440892e-16   0.000000
(0.1, 0.2]      13.0    4.0    2.193  1.059698e-01   0.143437
(0.2, 0.3]      56.0   13.0   14.827  7.022664e-01   0.759815
(0.3, 0.4]     122.0   41.0   43.706  6.819521e-01   0.755738
(0.4, 0.5]     244.0  108.0  109.884  8.601199e-01   0.907386
(0.5, 0.6]     218.0  113.0  120.455  3.425362e-01   0.532246
(0.6, 0.7]     209.0  133.0  134.637  8.640213e-01   0.933264
(0.7, 0.8]     102.0   76.0   75.586  8.497922e-01   0.901263
(0.8, 0.9]      33.0   27.0   27.774  8.535526e-01   0.983810
(0.9, 1.0]       3.0    3.0    2.793 -1.776357e-15   0.613071

ts = 2

                   n    obs      exp   poibin_pval  pois_pval
(-0.001, 0.1]    1.0    0.0    0.098  1.969107e-01   0.187528
(0.1, 0.2]      15.0    6.0    2.627  1.723967e-02   0.036108
(0.2, 0.3]      58.0   12.0   15.402  3.906540e-01   0.471328
(0.3, 0.4]     126.0   46.0   45.370  8.273210e-01   0.847956
(0.4, 0.5]     234.0   97.0  105.247  3.078619e-01   0.454293
(0.5, 0.6]     205.0  110.0  112.616  7.645554e-01   0.853813
(0.6, 0.7]     221.0  140.0  142.435  7.805534e-01   0.881943
(0.7, 0.8]     104.0   77.0   77.286  9.761602e-01   0.965482
(0.8, 0.9]      32.0   26.0   27.027  7.567420e-01   0.944663
(0.9, 1.0]       4.0    4.0    3.701 -2.664535e-15   0.626088

ts = 3

                   n    obs      exp   poibin_pval  pois_pval
(-0.001, 0.1]    1.0    0.0    0.094  1.876676e-01   0.179132
(0.1, 0.2]      17.0    6.0    2.939  3.530518e-02   0.061019
(0.2, 0.3]      54.0   12.0   13.971  6.619417e-01   0.722547
(0.3, 0.4]     133.0   46.0   47.545  8.562986e-01   0.898264
(0.4, 0.5]     234.0  102.0  105.119  7.318583e-01   0.810233
(0.5, 0.6]     195.0  103.0  107.085  6.042326e-01   0.739753
(0.6, 0.7]     218.0  134.0  140.877  3.649386e-01   0.598031
(0.7, 0.8]     106.0   81.0   78.415  4.999329e-01   0.715237
(0.8, 0.9]      37.0   29.0   31.101  4.558158e-01   0.795364
(0.9, 1.0]       5.0    5.0    4.610 -2.664535e-15   0.632086

ts = 1.25 (new)

                   n    obs      exp   poibin_pval  pois_pval
(-0.001, 0.1]    0.0    0.0    0.000 -4.440892e-16   0.000000
(0.1, 0.2]      12.0    4.0    2.034  7.680352e-02   0.111639
(0.2, 0.3]      56.0   13.0   14.910  6.838540e-01   0.743763
(0.3, 0.4]     116.0   38.0   41.544  5.589094e-01   0.651250
(0.4, 0.5]     247.0  110.0  111.154  9.349183e-01   0.963098
(0.5, 0.6]     229.0  121.0  126.554  5.002717e-01   0.661823
(0.6, 0.7]     205.0  129.0  132.095  7.001212e-01   0.832139
(0.7, 0.8]     100.0   74.0   74.060  9.344343e-01   0.943875
(0.8, 0.9]      32.0   26.0   26.855  8.226130e-01   0.971024
(0.9, 1.0]       3.0    3.0    2.788 -1.776357e-15   0.610606

ts = 1.5 (new)

                   n    obs      exp   poibin_pval  pois_pval
(-0.001, 0.1]    0.0    0.0    0.000 -4.440892e-16   0.000000
(0.1, 0.2]      13.0    4.0    2.193  1.059680e-01   0.143435
(0.2, 0.3]      56.0   13.0   14.828  7.021647e-01   0.759724
(0.3, 0.4]     122.0   41.0   43.705  6.821281e-01   0.755884
(0.4, 0.5]     245.0  109.0  110.399  9.096218e-01   0.944362
(0.5, 0.6]     217.0  112.0  120.000  3.050392e-01   0.498652
(0.6, 0.7]     209.0  133.0  134.689  8.581463e-01   0.929737
(0.7, 0.8]     102.0   76.0   75.586  8.497191e-01   0.901226
(0.8, 0.9]      33.0   27.0   27.774  8.537394e-01   0.983884
(0.9, 1.0]       3.0    3.0    2.793 -1.776357e-15   0.613071

ts = 1.75 (new)

                   n    obs      exp   poibin_pval  pois_pval
(-0.001, 0.1]    0.0    0.0    0.000 -4.440892e-16   0.000000
(0.1, 0.2]      14.0    5.0    2.359  3.946505e-02   0.066469
(0.2, 0.3]      60.0   12.0   15.961  3.101399e-01   0.391360
(0.3, 0.4]     124.0   46.0   44.745  7.366098e-01   0.775225
(0.4, 0.5]     239.0  102.0  107.775  4.930264e-01   0.619813
(0.5, 0.6]     211.0  109.0  116.502  3.314834e-01   0.522316
(0.6, 0.7]     211.0  136.0  135.959  9.434044e-01   0.951656
(0.7, 0.8]     105.0   78.0   77.857  8.998066e-01   0.926972
(0.8, 0.9]      32.0   26.0   26.962  7.817098e-01   0.954649
(0.9, 1.0]       4.0    4.0    3.697 -2.220446e-15   0.624537

ts = 2 (new)

                   n    obs      exp   poibin_pval  pois_pval
(-0.001, 0.1]    1.0    0.0    0.098  1.969106e-01   0.187528
(0.1, 0.2]      15.0    6.0    2.628  1.726519e-02   0.036156
(0.2, 0.3]      58.0   12.0   15.402  3.906441e-01   0.471319
(0.3, 0.4]     126.0   46.0   45.369  8.271714e-01   0.847836
(0.4, 0.5]     234.0   97.0  105.229  3.090278e-01   0.455382
(0.5, 0.6]     205.0  110.0  112.701  7.554531e-01   0.847559
(0.6, 0.7]     221.0  140.0  142.447  7.792590e-01   0.881155
(0.7, 0.8]     104.0   77.0   77.286  9.761843e-01   0.965495
(0.8, 0.9]      32.0   26.0   27.026  7.570041e-01   0.944767
(0.9, 1.0]       4.0    4.0    3.701 -2.220446e-15   0.626087

ts = 2.25 (new)

                   n    obs      exp   poibin_pval  pois_pval
(-0.001, 0.1]    1.0    0.0    0.097  1.938143e-01   0.184719
(0.1, 0.2]      16.0    6.0    2.802  2.608019e-02   0.048962
(0.2, 0.3]      57.0   12.0   15.068  4.456180e-01   0.523995
(0.3, 0.4]     129.0   48.0   46.443  7.002325e-01   0.745989
(0.4, 0.5]     231.0   97.0  103.827  4.024097e-01   0.541318
(0.5, 0.6]     199.0  106.0  109.026  7.172037e-01   0.820555
(0.6, 0.7]     221.0  138.0  142.147  6.045871e-01   0.769382
(0.7, 0.8]     107.0   79.0   79.191  9.595326e-01   0.957339
(0.8, 0.9]      35.0   28.0   29.483  6.183296e-01   0.879964
(0.9, 1.0]       4.0    4.0    3.704 -1.776357e-15   0.627218

ts = 2.5 (new)

                   n    obs      exp   poibin_pval  pois_pval
(-0.001, 0.1]    1.0    0.0    0.096  1.913445e-01   0.182476
(0.1, 0.2]      16.0    6.0    2.778  2.489968e-02   0.047051
(0.2, 0.3]      57.0   13.0   14.956  6.750878e-01   0.734792
(0.3, 0.4]     128.0   46.0   45.915  9.072533e-01   0.911793
(0.4, 0.5]     234.0   99.0  105.068  4.643139e-01   0.594971
(0.5, 0.6]     199.0  106.0  109.219  6.966967e-01   0.806279
(0.6, 0.7]     217.0  135.0  139.799  5.387113e-01   0.725347
(0.7, 0.8]     109.0   81.0   80.685  8.717899e-01   0.913071
(0.8, 0.9]      35.0   28.0   29.528  6.029853e-01   0.873408
(0.9, 1.0]       4.0    4.0    3.706 -2.220446e-15   0.628046

ts = 2.75 (new)

                   n    obs      exp   poibin_pval  pois_pval
(-0.001, 0.1]    1.0    0.0    0.095  1.893343e-01   0.180649
(0.1, 0.2]      17.0    6.0    2.957  3.647059e-02   0.062749
(0.2, 0.3]      56.0   13.0   14.657  7.411086e-01   0.793441
(0.3, 0.4]     129.0   44.0   46.217  7.582176e-01   0.818537
(0.4, 0.5]     237.0  103.0  106.588  6.877412e-01   0.776176
(0.5, 0.6]     195.0  104.0  107.200  6.957002e-01   0.805906
(0.6, 0.7]     215.0  133.0  138.634  4.618069e-01   0.671186
(0.7, 0.8]     110.0   83.0   81.354  6.502190e-01   0.798444
(0.8, 0.9]      35.0   27.0   29.465  3.556164e-01   0.737717
(0.9, 1.0]       5.0    5.0    4.608 -2.664535e-15   0.631322

ts = 3 (new)

                   n    obs      exp   poibin_pval  pois_pval
(-0.001, 0.1]    1.0    0.0    0.094  1.876681e-01   0.179132
(0.1, 0.2]      17.0    6.0    2.938  3.529107e-02   0.060997
(0.2, 0.3]      54.0   12.0   13.971  6.620092e-01   0.722607
(0.3, 0.4]     133.0   46.0   47.539  8.571565e-01   0.898954
(0.4, 0.5]     234.0  102.0  105.180  7.257697e-01   0.805598
(0.5, 0.6]     195.0  103.0  107.075  6.052129e-01   0.740458
(0.6, 0.7]     218.0  134.0  140.862  3.660895e-01   0.598914
(0.7, 0.8]     106.0   81.0   78.414  4.997326e-01   0.715115
(0.8, 0.9]      37.0   29.0   31.101  4.557526e-01   0.795334
(0.9, 1.0]       5.0    5.0    4.610 -2.664535e-15   0.632086

ts = 3.25 (new)

                   n    obs      exp   poibin_pval  pois_pval
(-0.001, 0.1]    1.0    0.0    0.093  1.862600e-01   0.177850
(0.1, 0.2]      17.0    6.0    2.923  3.432763e-02   0.059560
(0.2, 0.3]      54.0   12.0   13.899  6.783820e-01   0.737021
(0.3, 0.4]     133.0   46.0   47.446  8.705281e-01   0.909712
(0.4, 0.5]     230.0  100.0  103.077  7.337249e-01   0.811553
(0.5, 0.6]     200.0  106.0  109.660  6.516718e-01   0.773933
(0.6, 0.7]     219.0  134.0  141.820  2.998777e-01   0.544556
(0.7, 0.8]     104.0   80.0   77.047  4.430940e-01   0.682266
(0.8, 0.9]      37.0   29.0   31.128  4.483408e-01   0.791742
(0.9, 1.0]       5.0    5.0    4.612 -2.664535e-15   0.632683