# Test `SkillsGPMAP.fitted_pred_df()`

## Setup.

In [2]:
import os
os.chdir("..")

In [27]:
import gzip
import json
import pandas as pd

import src.load
import src.models.gp

In [22]:
from importlib import reload
reload(src.models.gp)

## Load and fit the TI9 group stages dataset.

In [20]:
JSON_FILE = "data/raw/premium_matches.2019-08-19.json.gz"
with gzip.open(JSON_FILE, 'rb') as fh:
    matches = src.load.MatchDF.from_json(json.load(fh)['data'])

## Test `fitted_pred_df()` and `fitted_skills_mat()`.

In [23]:
ms_in_a_year = 365 * 24 * 60 * 60 * 1000
gp_model = src.models.gp.SkillsGPMAP(
    initial_skills=None,
    initial_radi_adv=None,
    players_mat=matches.players_mat,
    start_times=matches.df.startTimestamp,
    radiant_win=matches.df.radiantVictory,
    cov_func_name='exponential',
    cov_func_kwargs={'scale': 1.25 * ms_in_a_year},
    radi_prior_sd=3.0,
    logistic_scale=3.0
)

In [24]:
gp_model.fit()

In [30]:
with pd.option_context('max_rows', 5):
    display(gp_model.fitted_pred_df())

            pred_win_prob  radi_skill  dire_skill  pred_win_prob_unknown_side
matchId
3805456168       0.295057    1.173179    4.300014                    0.262060
3805522795       0.646603    3.638183    2.339747                    0.605802
...                   ...         ...         ...                         ...
4973304079       0.323371    1.697856    4.426819                    0.288345
4973348952       0.589636    5.618321    5.044921                    0.547294

[5000 rows x 4 columns]

In [31]:
with pd.option_context('max_rows', 5):
    display(gp_model.fitted_skills_mat())

,1296625,3916428,3940262,4281729,5150808,6103402,6922000,9403474,10366616,11550182,...,858925382,864320791,869108920,876110702,879538479,882896652,893135754,907097333,907351651,909485668
matchId,,,,,,,,,,,,,,,,,,,,,
3805456168,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3805522795,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4973304079,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4973348952,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
## Test MatchPred.